h1 {
	color: red;
}

.footer-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #00263A;
	color: white;
	text-align: center;
}

.footer-container .footer-left {
	display: flex;
	justify-content: space-around;
	position: left;
}

.footer-container .footer-left {
	display: flex;
	justify-content: space-around;
	position: center;
}


